.signUp_text{
		padding: 5px 10px;
	background-color: transparent;
	text-align: right;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    color: white;
    font-size:28px;

	}
.btn{
    background-color:transparent;
    outline:0;
    border:0;
    color:white;
    cursor:pointer;
font-size:17px; 
padding:20px 10px;}

input::-webkit-input-placeholder {color:white;
}
.oneOne{}
.oneTwo{}
.oneThree{}
.twoOne{}
.twoTwo{}
.twoThree{}

body {
	margin : 25px 30px;
	background-image: url("/img/색깔1.jpg");
	background-size: cover;
	background-attachment: fixed;}