<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
		<title>로그인 창</title>
	<style>
	body {background-image:url("/img/색깔1.jpg");
    background-size: cover;
    background-attachment: fixed;

	
	}
	.login_img{
		position: relative;
		top: 200px;
	
	}
	.login_text{
		padding: 5px 10px;
	background-color:transparent; ;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: white;
	}
</style>

</head>
<body>

<div style="color:white;writing-mode: tb-rl;top:10%;left:5%;position:absolute;">나를 위한 기록</div>
<div style="text-align : center;">
<div class="login_img">
   <img src="/img/로그인창상자.png" width="450" >

<div class="login_text" style="color: white" >아이디 <input style="color: white;outline: 0;border:0" type="text" placeholder="_______"/> <br><br>패스워드  <input type="password" style="color: white;outline: 0;border:0" placeholder="_______"/>
     
</div>

<div> <button style="background-color:transparent;outline:0;border:0;color:white;cursor:pointer">회원가입</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="background-color:transparent;outline:0;border:0;color:white;cursor:pointer ">로그인</button></div>
</div>
</body>
</html>