<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="login.css">
<style type="text/css">
  body {
    background-image:url("색깔1.jpg");

    background-size: cover;
    background-attachment: fixed;

</style>
</head>
<body>
	<h1 style="text-align: center; color:white; position: relative; top: 50px">회 원 가 입</h1>
	<div class="signUp_text">
		<td> ID  </td>
   <td><input type = "text"/></td>
  </tr><br><br>
  <td> E-mail  </td>
   <td><input type = "text" /></td>
  </tr><br><br>
  <td> Password </td>
   <td><input type = "password"/></td>
  </tr><br>
		<button class="btn">가입하기</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">취소</button>



	</div>

</body>
</html>